.desktop {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.desktop .div-2 {
  background-color: #ffffff;
  height: 2512px;
  position: relative;
}

.desktop .nav-bar-with-logo {
  align-items: center;
  display: flex;
  justify-content: space-between;
  left: 93px;
  position: absolute;
  top: 47px;
}

.desktop .text-wrapper-2 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 24px;
  font-weight: 900;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: fit-content;
}

.desktop .nav-bar-instance {
  flex: 0 0 auto !important;
}

.desktop .frame {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  gap: 76px;
  height: 1131px;
  left: 155px;
  position: absolute;
  top: 976px;
}

.desktop .frame-2 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.desktop .search-your-college {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 64px;
  font-weight: 600;
  letter-spacing: 8.32px;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.desktop .search-bar {
  height: 59px;
  margin-right: -2px;
  position: relative;
  width: 272px;
}

.desktop .div-wrapper {
  border: 1px solid;
  border-color: #000000;
  border-radius: 32px;
  height: 59px;
  position: relative;
  width: 270px;
}

.desktop .text-wrapper-3 {
  color: #8a89899e;
  font-family: "Inter", Helvetica;
  font-size: 32px;
  font-weight: 600;
  left: 79px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 9px;
}

.desktop .frame-3 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  gap: 101px 20px;
  justify-content: center;
  position: relative;
  width: 100%;
}

.desktop .rectangle-2 {
  border: 5px solid;
  border-color: #000000;
  border-radius: 24px;
  height: 400px;
  position: relative;
  width: 360px;
}
