@import "tailwindcss";

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 4px;
}
.map-tooltip {
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
  text-shadow: 1px 1px 2px black;
  font-weight: 600;
}
